
	<link rel="stylesheet" href="theme/assets/styles/style.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="theme/assets/plugin/waves/waves.min.css">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0&appId=2920242014674882&autoLogAppEvents=1"></script>

<div ng-controller="llogin" id="single-wrapper">
	<form method="POST" ng-submit="login()" name="ulogin" class="frm-single">
		<div class="inside">
			<div class="title">Login</div>
			<!-- /.title -->
			
			<!-- /.frm-title -->
			<div class="frm-input"><input name="usrname" ng-model="uname" type="text" placeholder="Username" class="frm-inp" required><i class="fa fa-user frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="frm-input"><input name="usrpass" ng-model="upass" type="password" placeholder="Password" class="frm-inp" required><i class="fa fa-lock frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="clearfix margin-bottom-20">
				<div class="pull-left">
					<div class="checkbox primary"><input type="checkbox" id="rememberme"><label for="rememberme">Remember me</label></div>
					<!-- /.checkbox -->
				</div>
				<!-- /.pull-left -->
				<div class="pull-right"><a href="page-recoverpw.html" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot password?</a></div>
				<!-- /.pull-right -->
			</div>
			<!-- /.clearfix -->
			<button type="submit" name="login" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>
			<div class="row small-spacing">
				<div class="col-sm-12">
					<div class="txt-login-with txt-center">or login with</div>
					<!-- /.txt-login-with -->
				</div>

				<!-- /.col-sm-12 -->
				<div class="col-sm-6">
					<div class="fb-login-button" data-width="50" data-size="small" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
					</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6"><button type="button" class="btn btn-sm btn-icon btn-icon-left btn-social-with-text btn-google-plus text-white waves-effect waves-light"><i class="ico fa fa-google-plus"></i>Google+</button></div>
				<!-- /.col-sm-6 -->
			</div>
			<!-- /.row -->
			
			<div class="frm-footer">Dabbawala © 2019. <a ng-click="change()" style="float: right; cursor:pointer">Register With Us </a></div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="theme/assets/scripts/jquery.min.js"></script>
	<script src="theme/assets/scripts/modernizr.min.js"></script>
	<script src="theme/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="theme/assets/plugin/nprogress/nprogress.js"></script>
	<script src="theme/assets/plugin/waves/waves.min.js"></script>

	<script src="theme/assets/scripts/main.min.js"></script>
</body>
</html>
