<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Dabbevala || Panel</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="../modules/assets/styles/style.min.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="../modules/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../modules/assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="../modules/assets/plugin/sweet-alert/sweetalert.css">
	
	<!-- Percent Circle -->
	<link rel="stylesheet" href="../modules/assets/plugin/percircle/css/percircle.css">

	<!-- Chartist Chart -->
	<link rel="stylesheet" href="../modules/assets/plugin/chart/chartist/chartist.min.css">

	<!-- FullCalendar -->
	<link rel="stylesheet" href="../modules/assets/plugin/fullcalendar/fullcalendar.min.css">
	<link rel="stylesheet" href="../modules/assets/plugin/dropify/css/dropify.min.css">
	<link rel="stylesheet" href="../modules/assets/plugin/fullcalendar/fullcalendar.print.css" media='print'>

	<!-- Color Picker -->
	<link rel="stylesheet" href="../modules/assets/color-switcher/color-switcher.min.css">

	
	<!-- FlexDatalist -->
	<link rel="stylesheet" href="../modules/assets/plugin/flexdatalist/jquery.flexdatalist.min.css">

	<!-- Popover -->
	<link rel="stylesheet" href="../modules/assets/plugin/popover/jquery.popSelect.min.css">

	<!-- Select2 -->
	<link rel="stylesheet" href="../modules/assets/plugin/select2/css/select2.min.css">

	<!-- Timepicker -->
	<link rel="stylesheet" href="../modules/assets/plugin/timepicker/bootstrap-timepicker.min.css">

	<!-- Touch Spin -->
	<link rel="stylesheet" href="../modules/assets/plugin/touchspin/jquery.bootstrap-touchspin.min.css">

	<!-- Colorpicker -->
	<link rel="stylesheet" href="../modules/assets/plugin/colorpicker/css/bootstrap-colorpicker.min.css">

	<!-- Datepicker -->
	<link rel="stylesheet" href="../modules/assets/plugin/datepicker/css/bootstrap-datepicker.min.css">

	<!-- DateRangepicker -->
	<link rel="stylesheet" href="../modules/assets/plugin/daterangepicker/daterangepicker.css">

	<!-- Color Picker -->
	<link rel="stylesheet" href="../modules/assets/color-switcher/color-switcher.min.css">
	<script src="../modules/assets/scripts/jquery.min.js"></script>
	<script data-require="angular.js@*" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script type="text/javascript" src="js/adminit.js"></script>
	<script type="text/javascript" src="js/admfun.js"></script>
</head>

<body ng-app="dvadm" ng-controller="dvadmCtrl">
	
	<i ng-include="'nav.html'"></i>


<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Add Inventory<button type="button" onclick="tglfnc(2,2)" class="btn btn-primary waves-effect waves-light" style="margin-left: 70%;">Add Inventory</button></h4>


<div id="1">

	<div class="table-responsive" data-pattern="priority-columns">
						<table id="tech-companies-1" class="table table-small-font table-bordered table-striped">
							<thead>
								<tr>
									<th data-priority="1">Inventory Name</th>
									<th data-priority="1">Vendor Name</th>
									<th data-priority="3">Purchase Rate</th>
									<th data-priority="3">Today Quantity</th>
									<th data-priority="1">Total Quantity</th>
									
									
								</tr>
							</thead>
							<tbody>
								
								<tr  ng-repeat="i in inventory">
									<th><span class="co-name">{{i.name}}</span></th>
									<td>{{i.vendorname}}</td>
								<td>{{i.purchaserate}}</td>
								<td>{{i.todayquantity}}</td>
								<td>{{i.totalquantity}}</td>
								<td>
									<button ng-click="del(i.id,'inventory')" name="delnw" class="btn btn-danger btn-bordered waves-effect waves-light">Delete</button>
								    
								</td>
									
								</tr>      
								
							</tbody>
						</table>
					</div> 
		<!-- /.dropdown js__dropdown -->
		
</div>


<div  id="2" style="display: none;">
<form data-toggle="validator" action="../modules/addinventory.php" method="POST" enctype="multipart/form-data">
			
	<div class="form-group">
	<label for="inputName" class="control-label">Name</label>
	<input type="text" name="pname" class="form-control" id="inputName" placeholder="Product Name" required>
	</div>
	<div class="form-group">
	<label for="inputName" class="control-label">Vendor Name</label>
	<input type="text" name="venname" class="form-control" id="inputName" placeholder="Vendor Name" required>
	</div>
	<div class="form-group">
	<label for="inputName" class="control-label">Purchase Rate</label>
	<input id="demo2" type="number" value="0" name="purrate" class="col-md-8 form-control" required>
	</div>
     
	<div class="form-group">
	<label for="inputName" class="control-label">Quantity</label>	
	<input id="demo2" type="number" value="0" name="quantity" class="col-md-8 form-control" required>
	</div>
	
	
    
  
    <div  class="form-group" style="text-align: center;">
    <button name="addprd" type="submit" class="btn btn-icon btn-icon-left btn-primary btn-lg waves-effect waves-light"><i class="ico fa fa-plus"></i>Add Inventory</button>
    </div>
</form>
</div>


</div>
</div>
</div>
</div>
</div>
<style type="text/css">
	.select2-container{
		width: 100%!important;
	}

</style>
<script type="text/javascript">
	if (!localStorage.getItem("adminuser")) {
  location.href=".";
}
</script>

	<i ng-include="'footer.html'"></i>